<div class="text-center mt-1">
    <canvas id="canvas"></canvas>
</div>

<script async src="{{ url_for('static', filename='dependencies/opencv/opencv.js') }}"></script>
<script src="{{ url_for('static', filename='js/drawing.js') }}"></script>
<script src="{{ url_for('static', filename='js/coloring.js') }}"></script>