<div class="bg-dark p-1">
    <button id="addNewImageBtn" class="btn btn-sm btn-outline-light">add new</button>
    <button id="removeImageBtn" class="btn btn-sm btn-outline-warning" disabled>remove</button>
</div>

<div id="library" class="library-grid">
</div>

<script src="{{ url_for('static', filename='js/library.js') }}"></script>
