<div class="bg-dark p-1 d-flex justify-content-between">
    <button id="addNewImageBtn" class="btn btn-sm btn-outline-light">add new</button>
</div>

<div id="library" class="library-grid">
</div>

<script src="{{ url_for('static', filename='js/library.js') }}"></script>
